*{
    font-family: 'Questrial', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.form-page{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.image{
    background-image: url(assets/image.jpg);
    width: 50vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat
}

.logo-container{
    width: 39vw;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    column-gap: -1rem;
}

.logo-container h2{
    margin-left: -3.2rem;
    color: #06abda;
}

.logo {
    background-image: url(assets/logo.svg);
    width: 5vw;
    height: 10vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 13rem;
}

.headers-container{
    margin-top: -5rem;
}


.form-container{
    height: 100vh;
    background-color: #1d1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


h2,h3{
    color: #ff3300;
    letter-spacing: 1.4px;
    width: 60%;
    position: relative;
    left: 10%;
    font-size: 1.4rem;
}

h2{
    line-height: 1.2;
}

h3{
    margin-bottom: 2.5rem;
}

div>p{
    margin-left: 7.9rem;
    color: #5e95a3;
    font-size: 1rem;
}

input{
    border: none;
    background-color: #1d1b1b;
    outline: 0;
    width: 15rem;
}

p{
    position: relative;
    bottom: 25px;
    font-size: 1.4rem;
}

.first-name,
.last-name{
    margin-top: 10%;
}

.first-name p,
.pwd p{
    left: 5px;
}

form{
    flex-wrap: wrap;
    display: flex;
    row-gap: 4rem;
    column-gap: 4rem;
}


form>div{
    width: 40%;
    position: relative;
    left: 10%;
}

input{
    color: white;
    font-size: 1.2rem;
}

.btn-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
    align-items: center;
}

button{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background: #a80003;
    color: white;
    letter-spacing: 1px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 28%;
    font-weight: 600;
}

button:hover{
    background-color: white;
    color: #a80003;
    transition: 0.5s all;
}

.log{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1.2rem;
}

.log a{
    color: #06abda;
    text-decoration: none;
}

.log a:visited{
    color: blue;
}

label{
    color: rgb(255, 51, 0);
    position: absolute;
    display: flex;
    top: -1vh ;
    
}

label:hover{
    cursor: text;
}

span{
    font-weight: 600;
    letter-spacing: 1.2px;
}

label::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    width: 235px;
    height: 100%;
    border-bottom: 3px solid #ff3300;

}

input:focus + label span,
form input:valid + label span{
    transform: translateY(-15px);
    font-size: 1rem;
    transition: ease-in-out 0.3s;
}